<div class="header bg-dark pt-10 pb-6">
    <div class="container">
      <ul class="text-primary d-flex jcsb">
        <li><a href="">WILLIAM LEE</a></li>
        <li><a href="">BASED IN TAIWAN</a></li>
        <li>
          <a href="">CURRENTLY FRONT END <span class="d-block">ENGINEER AT HEXSCHOOL</span></a>
            
          </li>
        <li><a href="">CONTACT ME</a></li>
      </ul>
    </div>
  </div>